name: vokabeltrainer_app
description: Ein spielerischer Vokabel-Trainer
publish_to: "none"
version: 1.0.0+1

environment:
  sdk: ">=3.3.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter
  flutter_tts: ^4.2.2

dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^3.0.1

flutter:
  uses-material-design: true

  assets:
    - assets/images/
    - assets/Vokabeln alle.csv    # â† Hier wird Deine CSV eingebunden
    - assets/Stationenbeschreibung-englisch.csv
    - assets/images/germany_map.png